body {
    font-family: "Helvetica Neue", sans-serif, Arial;
    background-color: #f1f1f1;
    display: flex;
    flex-flow: column;
}

a {
    text-decoration: none !important;
}

.page-content {
    width: 1200px;
    margin: auto;
    flex: 1;
}

.page-header {
    background: #f48375;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

.wrapper {
    width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.page-header .page-logo {
    width: 150px;
    height: 50px;
    background-image: url('../images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 500px;
    display: flex;
}

.page-header .page-logo a {
    flex: 1;
}

.page-header .page-search {
    border-radius: 3px;
    background: white;
    display: flex;
    overflow: hidden;
    padding: 3px;
    align-items: center;
    height: 42px;
    flex: 1;
}

.page-header .page-search > input {
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0 15px;
    flex: 1;
}

.page-header .page-search > .button {
    margin: 0;
    padding: 10px;
    min-width: 50px;
}

.page-header .page-cart {
    display: flex;
    align-items: center;
    margin-left: 30px;
    position: relative;
}

.page-header .page-cart .cart-count {
    position: absolute;
    right: 0;
    background: white;
    color: red;
    border-radius: 50%;
    top: 5px;
    width: 20px;
    height: 20px;
    font-weight: bold;
    text-align: center;
}

.page-header .page-cart img {
    height: 40px;
    width: 40px;
}

.page-header .page-user {
    width: 100%;
    text-align: right;
    padding: 5px 0 10px;
    color: white;
}

.page-header .page-user a {
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

.banner {
    width: 100%;
    height: 370px;
    background: url('../images/banner.jpg') no-repeat;
    background-size: contain;
    margin-top: 40px;
}

.slide-holder {
    margin: 0 auto;
    text-transform: uppercase;
}

.slide-container {
    /*slide-container là khối bao mà slide-stage có thể "trượt" bên trong */
    height: 250px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slide-stage {
    position: absolute;
}

.slide-image {
    /*Độ rộng của .slide-image có thể được thay đổi theo nhu cầu, ảnh hưởng đến độ rộng chung của slideshow*/
    float: left;
    width: 280px;
    height: 150px;
    text-align: center;
}

.slide-image img {
    width: 95%;
    margin: 0;
}

.slide-pager {
    position: relative;
}

.slide-control-prev {
    position: absolute;
    text-align: center;
    width: 25px;
    height: 60px;
    background: orange;
    line-height: 60px;
    color: #fff;
    cursor: pointer;
    top: 100px;
    left: -30px;
}

.slide-control-next {
    position: absolute;
    text-align: center;
    width: 25px;
    height: 60px;
    background: orange;
    line-height: 60px;
    color: #fff;
    cursor: pointer;
    right: -30px;
    top: 100px;
}

#form {
    display: block;
    margin-bottom: 185px;
    margin-top: 185px;
    overflow: hidden;
}

.login-form h2, .signup-form h2 {
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 30px;
}

.login-form form input, .signup-form form input {
    background: white;
    border: medium none;
    color: #696763;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    height: 40px;
    margin-bottom: 10px;
    outline: medium none;
    padding-left: 10px;
    width: 100%;
}

.login-form form span {
    line-height: 25px;
}

.login-form form span input {
    width: 15px;
    float: left;
    height: 15px;
    margin-right: 5px;
}

.login-form form button {
    margin-top: 23px;
}

.login-form form button, .signup-form form button {
    background: red;
    border: medium none;
    border-radius: 0;
    color: #FFFFFF;
    display: block;
    font-family: 'Roboto', sans-serif;
    padding: 6px 25px;
}

.login-form label input {
    border: medium none;
    display: inline-block;
    height: 0;
    margin-bottom: 0;
    outline: medium none;
    padding-left: 0;
}

.card {
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.card.nowrap {
    overflow-x: auto;
    flex-wrap: nowrap;
}

.card.half {
    flex: 1 1 600px;
    padding-right: 10px;
}

.card.transparent {
    background-color: transparent;
    box-shadow: none;
}

.hinhanhsanpham {
    width: 450px;
    padding: 15px;
}

.hinhanhsanpham > img {
    width: 100%;
}

.motasanpham {
    padding: 1.25rem 2.1875rem 0 1.25rem;
    flex: 1 1 auto;
    max-width: 750px;
}

.motasanpham > .tensanpham {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    word-wrap: break-word;
}

.motasanpham > .giasanpham {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 15px;
    padding: 15px 20px;
    background: #fafafa;
    color: #d0011b;
    font-size: 30px;
}

.motasanpham > .giasanpham > s {
    font-size: 16px;
    text-decoration: line-through;
    color: #929292;
    margin-right: 10px;
}

.motasanpham > .giasanpham > .giamgia {
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    background: #ee4d2d;
    border-radius: 2px;
    padding: 2px 4px;
    font-weight: 600;
    line-height: 1;
    margin-left: 10px;
}

.motasanpham > .giasanpham > .ngaykhuyenmai {
    width: 100%;
    font-size: 14px;
    color: black;
    padding: 0;
}

.motasanpham > .muahang {
    margin-top: 15px;
    padding-left: 20px;
}

.motasanpham > .quangcao {
    display: flex;
    background: #fff;
    margin-top: 30px;
    padding: 25px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.motasanpham > .quangcao > * {
    margin-right: 20px;
}

.motasanpham > .quangcao img {
    width: 20px;
}

.chitietsanpham {
    padding: 15px 15px 25px;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.chitietsanpham > .tieude {
    width: 100%;
    background: rgba(0, 0, 0, .02);
    color: rgba(0, 0, 0, .87);
    font-size: 18px;
    padding: 14px;
    text-transform: uppercase;
}

.chitietsanpham > .noidung {
    display: flex;
    flex-flow: column;
}

.chitietsanpham > .noidung > .chitiet > .title {
    color: #0006;
}

.nhapsoluong {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    width: 120px;
}

.nhapsoluong > .button-outline:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.nhapsoluong > .button-outline:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.nhapsoluong > .input-outline {
    border-radius: 0px;
    border-left: none;
    border-right: none;
}

.nhapsoluong > .input-outline::-webkit-outer-spin-button,
.nhapsoluong > .input-outline::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.button {
    background-color: #f48375;
    border: 1px solid #f48375;
    color: white;
    font-size: 14px;
    margin-right: 15px;
    max-width: 250px;
    min-width: 180px;
    outline: none;
    border-radius: 2px;
    padding: 12px;
}

.button.invert {
    background-color: rgba(208, 1, 27, .08);
    color: #d0011b;
}

.button-outline {
    width: 32px;
    height: 32px;
    outline: none;
    cursor: pointer;
    font-size: .875rem;
    line-height: 1;
    letter-spacing: 0;
    align-items: center;
    justify-content: center;
    transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
    border: 1px solid rgba(0, 0, 0, .09);
    border-radius: 2px;
    background: transparent;
}

.input-outline {
    width: 50px;
    height: 32px;
    font-size: 16px;
    box-sizing: border-box;
    text-align: center;
    cursor: text;
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, .09);
    border-radius: 2px;
    background: transparent;
    color: rgba(0, 0, 0, .8);
    outline: none;
}

.svg-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
}

.chitiet {
    margin-top: 25px;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.chitiet > .title {
    color: #757575;
    width: 110px;
}

.chitiet > .content {
    display: flex;
    align-items: center;
}

.tieudedanhmuc {
    font-size: 16px;
    color: rgba(0, 0, 0, .54);
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    margin-top: 30px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.products .sanpham {
    width: 18.99%;
}

.sanpham {
    display: flex;
    width: 15.8%;
    margin: 10px 5px;
    overflow: hidden;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    background-color: white;
    transition: box-shadow 0.5s;
}

.sanpham:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .1);
}

.sanpham > a {
    flex: 1;
    text-decoration: none;
    color: #000c;
    position: relative;
}

.sanpham .tensanpham,
.sanpham .giasanpham {
    overflow: hidden;
    word-wrap: break-word;
    line-height: 18px;
    height: 35px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    padding: 0 10px;
    margin-bottom: 10px;
}

.sanpham .giasanpham {
    color: #d0011b;
    height: auto;
}

.sanpham .giasanpham s {
    font-size: 12px;
    color: grey;
}

.sanpham .hinhanhsanpham {
    width: 100%;
    height: 190px;
    flex: 1;
    background-size: contain;
    background-repeat: no-repeat;
}

.cart-empty {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.cart-empty-image {
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 179px;
    background-image: url('../images/empty.png');
}

.cart-empty-text {
    font-weight: 700;
    font-size: 20px;
    margin: 26px 0;
}

.cart-header {
    display: flex;
    width: 100%;
    padding: 20px;
}

.cart-product {
    display: flex;
    flex: 1;
    align-items: center;
}

.cart-price,
.cart-quantity,
.cart-cost,
.cart-action {
    width: 12.5%;
    text-align: center;
}

.cart-list {
    padding: 20px;
    display: flex;
    width: 100%;
    flex-flow: column;
    background: white;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
    border-radius: 3px;
}

.cart-list > .cart-row {
    display: flex;
    width: 100%;
    align-items: center;
}

.cart-list .cart-product img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    object-position: center;
    margin-right: 20px;
}

.cart-footer {
    padding: 20px;
    display: flex;
    width: 100%;
}

.cart-footer > .cart-cost {
    flex: 1;
    text-align: right;
    margin-right: 20px;
}

.cart-footer > .cart-cost > .content {
    font-size: 30px;
    line-height: 30px;
    margin-left: 5px;
    color: #ff5722;
}

.danhmuc {
    padding: 20px;
}

.danhmuc > .hinhanh {
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 198px;
    height: 198px;
}

.danhmuc > .tendanhmuc {
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
    color: rgba(0, 0, 0, .8);
}

.page-footer {
    border-top: 3px solid #d0011b;
    text-align: center;
    background: #fbfbfb;
    padding: 20px;
    margin-top: 50px;
}

.menu {
    background: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
    min-height: 50px;
}

.menu ul {
    list-style: none;
    display: flex;
    width: 100%;
    margin: 0;
    align-items: center;
    padding: 0;
}

.menu ul li {
    position: relative;
    padding: 15px 30px;
}

.menu ul li:hover .menu-dropdown {
    display: block;
}

.menu .menu-dropdown {
    width: 300px;
    flex-flow: column;
    position: absolute;
    background: white;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
    top: 50px;
    display: none;
    z-index: 200;
}

.menu .menu-dropdown li {
    width: 100%;
    padding: 10px;
}

.menu a {
    font-weight: bold;
    color: black;
}

.menu a:hover {
    text-decoration: none;
    color: red;
}

.khuyenmai {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 35px;
    background: red;
    font-weight: bold;
    font-size: 14px;
    color: white;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.chitietkhachhang {
    display: flex;
    flex-flow: column;
    background: white;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
    border-radius: 3px;
    padding-bottom: 10px;
}

.chitietkhachhang .chitiet .content {
    flex: 1;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-flow: column;
}

.authen-modal {
    background: #fff;
    width: 500px;
    margin: 50px auto 0;
    border-radius: 3px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .14);
    position: relative;
}

.authen-header {
    padding: 30px;
    display: flex;
    align-items: center;
}

.authen-header-tab.active {
    outline: none;
    text-align: left;
    background: #fff !important;
    cursor: default;
    color: rgba(0, 0, 0, .8);
    font-weight: 400;
    flex: 1;
    font-size: 20px;
}

.authen-header-tab {
    background: none;
    padding: 0;
    border: 0;
    font-size: 16px;
    color: #ee4d2d;
    cursor: pointer;
    font-weight: 500;
}

.authen-header-tab:hover {
    text-decoration: none;
}

.authen-body {
    display: flex;
    flex-flow: column;
    padding: 0 30px 30px;
}

.input-with-status {
    margin-bottom: 15px;
    display: flex;
}

.input-with-status-input {
    height: 38px;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    flex: 1;
    outline: none;
    font-size: 14px;
    min-width: 0;
    color: #222;
    border: 1px solid #00000024;
    border-radius: 2px;
}

.authen-error {
    display: block;
    padding: 8px 0 2px;
    font-size: 12px;
    color: #ff424f;
}

.forgot-password {
    margin: 20px 0 15px;
    text-align: right;
}

.forgot-password a {
    color: #ee4d2d;
    display: block;
    float: right;
}

.authen-footer {
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
    background: linear-gradient(hsla(0, 0%, 100%, .9), #fff);
    align-items: center;
    padding: 22px 30px;
    box-sizing: border-box;
}

.btn-cancel {
    padding: 10px 0;
    box-sizing: border-box;
    width: 140px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    color: #555;
    margin-right: 6px;
    line-height: 1;
    background: none;
    border: none;
    transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
    text-align: center;
}

.btn-submit {
    color: #fff;
    background: #ee4d2d;
    display: inline-flex;
    border-radius: 2px;
    outline: none;
    box-shadow: none;
}

.btn-submit:focus, .btn-submit:active, .btn-submit:visited {
    outline: none;
    box-shadow: none;
    color: white;
}

.btn-submit:hover {
    background: #f05d40;
    color: white;
}

.user-page {
    display: flex;
    padding: 20px 0;
}

.user-page-sidebar {
    width: 180px;
    margin-right: 30px;
}

.user-page-sidebar .user-page-brief {
    display: flex;
    padding: 15px 0;
    border-bottom: 1px solid #efefef;
}

.user-page-sidebar .user-page-brief .user-page-brief-avatar img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
}

.user-page-sidebar .user-page-brief .user-page-brief-right {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-left: 15px;
}

.user-page-sidebar .user-page-brief .user-page-brief-right .user-page-brief-username {
    font-weight: bold;
}

.user-page-sidebar .user-page-brief .user-page-brief-right .user-page-brief-phone {
    color: #888;
}

.user-page-sidebar .user-page-sidebar-menu {
    margin-top: 27px;
    display: flex;
    flex-flow: column;
}

.user-page-sidebar .user-page-sidebar-menu .user-page-sidebar-menu-entry {
    text-decoration: none !important;
    color: #333;
    margin-bottom: 18px;
}

.user-page-sidebar .user-page-sidebar-menu .user-page-sidebar-menu-entry:hover {
    color: #ee4d2d;
}

.user-page-content {
    flex: 1;
    padding: 0 30px 20px;
    border-radius: 3px;
    background: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .13);
}

.user-page-content .user-page-header {
    display: flex;
    border-bottom: 1px solid #efefef;
    padding: 22px 0;
    height: 80px;
    box-sizing: border-box;
    flex-flow: column;
}

.user-page-content .user-page-header .user-page-header-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: #333;
}

.user-page-content .user-page-header .user-page-header-subtitle {
    font-size: 14px;
    line-height: 17px;
    color: #555;
    margin-top: 3px;
}

.user-page-content .user-page-profile {
    display: flex;
    align-items: flex-start;
    padding-top: 30px;
}

.user-page-content .user-page-profile-left {
    flex: 1;
    padding-right: 50px;
}

.user-page-content .user-page-profile-right {
    display: flex;
    flex-flow: column;
    width: 280px;
    justify-content: center;
    overflow: hidden;
    border-left: 1px solid #efefef;
}

.user-page-content .user-page-profile-right .avatar {
    width: 170px;
    margin: auto;
}

.user-page-content .user-page-profile-right .avatar .avatar-image {
    display: flex;
    height: 170px;
    align-items: center;
}

.user-page-content .user-page-profile-right .avatar .avatar-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
}

.input-with-label {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.input-with-label .input-with-label-label {
    width: 20%;
    text-align: right;
    color: rgba(85, 85, 85, .8);
    overflow: hidden;
}

.input-with-label .input-with-label-content {
    width: 80%;
    box-sizing: border-box;
    padding-left: 20px;
}

.user-page-submit {
    margin-bottom: 60px;
    padding-left: calc(20% + 20px);
}

.user-page-submit .btn-submit {
    height: 40px;
    padding: 0 20px;
    min-width: 70px;
    max-width: 220px;
}

.user-page-profile-password {
    display: flex;
    flex-flow: column;
    width: 620px;
    margin: auto;
}

.admin-menu {
    background-color: #fff;
    height: 70px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.admin-menu a {
    background-color: #76c9bd;
    color: white;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    margin: 5px;
    width: 25%;
    text-align: center;
    padding: 15px;
}

.admin-menu.active {
    background-color: #76c9bd;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    border-bottom: 1px solid #ebedf2;
    min-height: 60px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.card-header-title {
    color: #464457;
    font-weight: bold;
    font-size: 16px;
}

.admin-table {
    width: 100%;
}

.admin-table-header {
    padding: 10px 25px;
    color: #6c7293;
}

.admin-table-row {
    border-bottom: 1px solid #f0f3ff;
}

.admin-table-data {
    padding: 10px 25px;
}

.admin-table-data form {
    margin: 0;
}

.product-list-image {
    width: 50px;
    height: 50px;
}

.edit-page {
    flex: 1;
    padding: 0 30px 20px;
    border-radius: 3px;
    background: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .13);
}

.edit-header {
    display: flex;
    border-bottom: 1px solid #efefef;
    padding: 22px 0;
    height: 80px;
    box-sizing: border-box;
    flex-flow: column;
}

.edit-header-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: #333;
}

.edit-header-subtitle {
    font-size: 14px;
    line-height: 17px;
    color: #555;
    margin-top: 3px;
}

.edit-body {
    display: flex;
    align-items: flex-start;
    padding-top: 30px;
}

.edit-body-left {
    flex: 1;
    padding-right: 50px;
}

.edit-body-right {
    display: flex;
    flex-flow: column;
    width: 280px;
    justify-content: center;
    overflow: hidden;
    border-left: 1px solid #efefef;
}

.edit-submit {
    margin-bottom: 60px;
    padding-left: calc(20% + 20px);
}

.edit-submit .btn-submit {
    height: 40px;
    padding: 0 20px;
    min-width: 70px;
    max-width: 220px;
}

.edit-submit .btn-cancel {
    margin-left: 20px;
    margin-right: 20px;
}

.edit-thumbnail {
    width: 170px;
    margin: auto;
}

.edit-thumbnail-image {
    display: flex;
    height: 170px;
    align-items: center;
    margin-bottom: 20px;
}

.edit-thumbnail-image img {
    width: 100%;
    object-fit: cover;
    margin: auto;
}

.edit-body-cart {
    border-left: 1px solid rgba(0, 0, 0, .09);
    width: 800px;
}

.cart-detail-customer {
    line-height: 22px;
    margin-bottom: 7px;
}

.cart-detail-description {
    color: #0000008a;
    font-size: 12px;
    line-height: 21px;
}

.cart-detail-row {
    border-bottom: 1px dotted rgba(0, 0, 0, .09);
    display: flex;
    padding: 10px 20px;
}

.cart-detail-image img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.cart-detail-text {
    padding-left: 12px;
    flex: 1;
}

.cart-detail-price {
    color: #ee4d2d;
}

.cart-detail-summary {
    display: flex;
    text-align: right;
    padding: 0;
    align-items: center;
}

.cart-detail-summary-label {
    color: #0000008a;
    font-size: 12px;
    flex: 1;
    padding: 10px;
}

.cart-detail-summary-value {
    width: 200px;
    border-left: 1px dotted #00000017;
}

.cart-detail-summary-value span {
    color: #ee4d2d;
    font-size: 32px;
}

.edit-body-cart .edit-submit {
    padding: 0;
    float: right;
    margin-top: 20px;
}

.cart-history {
    display: flex;
    flex: 1;
    flex-flow: column;
}

.user-page-content .edit-body > .edit-body-cart {
    flex: 1;
    border: none;
}

.side-menu {
    width: 190px;
    margin-right: 20px;
}

.side-menu-header {
    line-height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    display: flex;
    align-items: center;
    font-weight: bold;
}

.side-menu-header img {
    margin-right: 5px;
}

.side-menu-body {
    display: flex;
    flex-flow: column;
}

.side-menu-link {
    padding: 8px 15px;
    color: #000c;
}

.side-menu-link.active {
    color: #ee4d2d;
    font-weight: bold;
}

.sort-bar {
    width: 100%;
    padding: 13px 20px;
    background: #00000008;
    display: flex;
    align-items: center;
    height: 65px;
}

.sort-label {
    color: #555;
    margin-right: 5px;
}

.sort-item {
    padding: 10px 15px;
    color: #555;
    background: white;
    margin: 0 5px;
    transition: .5s all ease;
}

.sort-item.active,
.sort-item:hover {
    background: #ee4d2d;
    color: white;
}

.page {
    flex: 1;
    text-align: right;
}

strong {
    color: #ee4d2d;
}

.button-prev {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
    width: 36px;
    height: 34px;
    background: #fff;
    border: 0;
    margin-left: 20px;
    border-radius: 2px 0 0 2px;
    border-right: 1px solid #f2f2f2;
    display: flex;
    color: #555;
    align-items: center;
    justify-content: center;
}

.button-next {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
    width: 36px;
    height: 34px;
    background: #fff;
    border: 0;
    display: flex;
    color: #555;
    align-items: center;
    justify-content: center;
    border-radius: 0 2px 2px 0;
}

.search-result {
    width: 100%;
    margin-bottom: 10px;
}

.comment-box {
    width: 100%;
    display: flex;
}

.comment-box form {
    flex: 1;
    display: flex;
    position: relative;
}

.comment-input {
    padding: 10px 130px 10px 20px;
    resize: none;
    margin: 0 10px;
    width: 100%;
    background-color: #f2f3f5;
    border: 1px solid #ccd0d5;
    border-radius: 16px;
    outline: none !important;
}

.comment-box .button {
    font-size: 14px;
    padding: 10px;
    position: absolute;
    right: 0;
    border-radius: 0 16px 16px 0;
    min-width: 100px;
    margin-right: 10px;
}


.comment {
    width: 100%;
    border-radius: 4px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
}

.comment-profile {
    display: flex;
}

.comment-name {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}

.comment-fullname {
    color: #385898;
}

.comment-time {
    color: #aaa;
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 11px;
}

.comment-text {
    width: 100%;
    margin-left: 70px;
    padding: 10px;
    background: #f2f3f5;
    border-radius: 0 16px 16px 16px;
}

.comment-avatar img {
    border-radius: 50%;
    border: 1px solid #ccd0d5;
    object-fit: cover;
    width: 50px;
    height: 50px;
}